extends ../../layout
block content
    .logo-container.animated.fadeIn
        img.league-logo(src='/images/leagues/italy1.png' alt='Serie A')
    .well.league-container.animated.fadeInUp
        table.table.table-striped.table-hover.league-table
            thead
                tr
                    th Position
                    th Club
                    th Played
                    th Win
                    th Draw
                    th Loss
                    th For
                    th Against
                    th Diff
                    th Points
            tbody
                each club, i in italy1
                    tr
                        td: b #{club.pos}
                        td #{club._id}
                        td #{club.played}
                        td #{club.wins}
                        td #{club.draws}
                        td #{club.losses}
                        td #{club.gfor}
                        td #{club.gag}
                        td #{club.gd}
                        td #{club.points}
